# fly.toml app configuration file generated for vps-mcp-server on 2025-11-21T12:23:59Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'vps-mcp-server'
primary_region = 'ams'

[build]
  dockerfile = "Dockerfile"
[env]
  NODE_ENV = "production"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
